
body {
    background-color: #fff2d6;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;

}
.container_behind{
    background-color: #e3e3e3;
    width: 710px;
    height: 290px;
    position: absolute;
    margin-top: -240px;
    margin-left: 5px;
    overflow: hidden;
}
.container_behind_bckg{
    background-color: #e3e3e3;
    z-index: -100;
    width: 790px;
    height: 360px;
    position: absolute;
    margin-top: -240px;
}

.container{
    width: 2000px;
    height: 2000px;
    position: absolute ;
    background-image: url(../resources/bckg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    image-rendering: optimizeSpeed;
    pointer-events: none;
}
.buttons {
    margin-top: 378px;
    margin-left: 13px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}
.pump_button {
    background-image: url(../resources/pump_button.png);
    color: #2f292b;
    font-weight: bolder;
    background-size: 94% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 195px;
    height: 195px;
    border: 0;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    clip-path: circle(50%);
    font-family: 'AppleNewIslandRegular', sans-serif;
    font-size: 50px;
}

.pump_button:active{
    transform: scale(0.98);
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#paintCanvas {
    background-color: #e3e3e3;
    display: block;
    margin: 0 auto;
}
.gallery {
    width: 1500px;
    height:500px;
    margin-top: 1400px;
    margin-left:100px;
    position: absolute;
    z-index: 1;
}

.gallery img {
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAABnElEQVR4Xu3dMY7CMBgFYXIcRMH9j0GBOA602JZ4/pWhSDzbrWIe8DEgqt3tUvy5X2/v4k1Offzxem7fT7D5ZeaZC9oqCTpTTeGMoAWsmaNl0PQW7wdnHsSRzySP+BmaBgRt8xC0+HZJgQn6b9D+Fejf0ul68fEd7ni50ASWrh9OqPiABS2CpeOCJqHi9QiaDqT782tT97VJ0JRMez15belAujsLtdDUyM/rKcCh0NWKq+oKWhUL5wUVFBaA5yxUUFgAnrNQQWEBeM5CBYUF4DkLFRQWgOcsVFBYAJ6zUEFhAXjOQgWFBeA5CxUUFoDnLFRQWACes1BBYQF4zkIFhQXgOQsVFBaA5yxUUFgAnrNQQWEBeM5CBYUF4DkLFRQWgOcsVFBYAJ6zUEFhAXjOQgWFBeA5CxUUFoDnLFRQWACes1BBYQF4zkIFhQXgOQsVFBaA5yxUUFgAnrNQQWEBeM5CBYUF4DkLFRQWgOfKhcL3v9zc7j93uZxYeMKCwkUISoP2e+lDF77/080N/2lB0H2vsaD7/IZbCwqDfgDgRbkEz0TJ5gAAAABJRU5ErkJggg==") 28 /  28px / 0 round;
    margin: 5px;
    width: 470px;
}
@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('../resources/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('../resources/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('../resources/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}
