
body {
    background-color: #d8d5f0;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    width: 1900px;
    height: 1900px;
    position: absolute ;
    z-index: 0;
    background-image: url("https://i.postimg.cc/NM8Hp4fh/colored-game-bcgr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    image-rendering: optimizeSpeed;
    pointer-events: none;
}

.game_container{
    padding-left: 16px;
    padding-bottom: 135px;
    width: 817px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif_container {
    overflow: hidden;
    position: absolute;
    margin-top: 75px;
    margin-left: 1415px;
    width: 300px;
    height: 600px;
    z-index: -1;
}

.button1 {
    background-image: url("https://i.postimg.cc/t4fWTJmc/b1-v2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    user-select: none;
    font-family: 'AppleNewIslandRegular', sans-serif;
    transition: transform 0.2s ease;


}
.button2 {
    background-image: url("https://i.postimg.cc/hGdx7nkt/b2-v2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    user-select: none;
    font-family: 'AppleNewIslandRegular', sans-serif;
    transition: transform 0.2s ease;

}
.button1:hover{
    transform: rotate(2deg);
}
.button2:hover {
    transform: rotate(-2deg);
}
.button1:active, .button2:active{
    transform: scale(0.95);
}
.buttons {
    overflow: hidden;
    position: absolute;
    margin-top: -300px;
    margin-left: -1450px;
    width: 300px;
    height: 600px;
}

@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('../resources/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('../resources/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('../resources/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}
