body {
    background-image: url(https://i.pinimg.com/736x/0a/33/43/0a33431e963f18cc2d4469fee23cd527.jpg);
    background-attachment: fixed;
    background-size: contain;
    font-family: 'LobsterFugu', serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
}


footer{
    text-align: center;
}
h1 {
    font-family: 'AppleNewIslandRegular', sans-serif;
    text-align: center;
    align-content: end;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
li {
    display: inline;
    padding: 10px;
}
p {
    display: inline-flex;
    text-align: justify;
    padding: 15px;
    font-size: 18px;
}

.dashed{
    border: 1px dashed black;
}
.container {
    position: absolute;
    width: 620px;
    padding: -20px;
    margin-left: -20px;
    background-image: url("https://i.postimg.cc/4d1YzxBs/paper-v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    height: 1253px;
    display: flex;
    flex-direction: column;

}
.bunny {
    pointer-events: none;
    position: absolute ;
    z-index: 15;
    width: 180px;
    height: auto;
    margin-left: -315px;
    margin-top: 550px;
    transform: rotate(-4deg);
    image-rendering: optimizeSpeed;
}

.ncont {
    position: absolute;
    margin-top: 350px;
    margin-left: 190px;
    width: 390px;
    height: 485px;
    align-content: center;
    overflow: scroll;
    scrollbar-width: none;

}

.con {
    padding: 15px;
    text-align: center;
    vertical-align: middle;

}

.button1 {
    background-image: url("https://nerrchii.neocities.org/resources/b1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    user-select: none;
}
.button2 {
    background-image: url("https://nerrchii.neocities.org/resources/b2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    user-select: none;
}
.button1:active {
    transform: scale(0.95);
}
.button2:active {
    transform: scale(0.95);
}

@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('resources/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('resources/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('resources/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}
