body {
    background-image: url(https://i.postimg.cc/8PJRGKDG/whitegrain.gif);
    font-family: "Gill Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}
footer{
    text-align: center;
}
h1 {
    text-align: center;
    align-content: end;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
li {
    display: inline;
    padding: 10px;
}
p {
    display: inline-flex;
    text-align: justify;
    padding: 15px;
    font-size: 18px;
}

.container {
    position: relative;
    width: 940px;
    padding: 20px;
    background-image: url("https://i.postimg.cc/rFMYjNNn/paper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    height: 1253px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bunny {
    pointer-events: none;
    position: absolute ;
    z-index: 1;
    width: 1000px;
    height: auto;
    margin-left: -60px;
    margin-top: 120px;
    image-rendering: optimizeSpeed;
}
.ncont {
    background-image : url("https://i.postimg.cc/Y9f1b9g5/note1.jpg");
    position: absolute;
    margin-top: 193px;
    margin-left: 278px;
    width: 620px;
    height: 765px;
    align-content: center;
    overflow: scroll;
    scrollbar-width: none;
}

.navcont {
    overflow: hidden;
    position: absolute;
    margin-top: 160px;
    margin-left: 930px;
    width: 300px;
    height: 760px;
}

.con {
    padding: 15px;
}

.button1 {
    background-image: url("https://nerrchii.neocities.org/resources/b1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    user-select: none;
}
.button2 {
    background-image: url("https://nerrchii.neocities.org/resources/b2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    user-select: none;
}
.button1:active {
    transform: scale(0.95);
}
.button2:active {
    transform: scale(0.95);
}
