body {
    background-color: white;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.container{
    width: 1900px;
    height: 1900px;
    position: absolute ;
    z-index: 0;
    background-image: url("resources/Game_bcgr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    display: flex;
}

.game_container{
    padding-left: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}