
body{
    background-image: url(https://i.pinimg.com/736x/0a/33/43/0a33431e963f18cc2d4469fee23cd527.jpg);
    background-attachment: fixed;
    background-size: contain;
    font-family: 'LobsterFugu', serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-position: center;

}
.draggable_div {
    position: absolute;
    z-index: 9;
    background-image: url("https://i.postimg.cc/Y0pmVWhv/Notepad-v2.png");
    image-rendering: optimizeSpeed;
    background-size: cover;
    background-size: contain;
    text-align: center;
    width: 295px;
    height: 400px;
    padding: 10px;

}

.draggable_div_container {
    z-index: 11;
    margin-top: -25px;
    width: 297px;
    height: 367px;
    overflow: scroll;
    scrollbar-width: none;
}

.draggable_div_header {
    padding: 30px;
    cursor: move;
    z-index: 10;
    color: black;
    font-weight: bold;
}

footer{
    text-align: center;
}
h1 {
    font-family: 'AppleNewIslandRegular', sans-serif;
    text-align: center;
    align-content: end;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
li {
    display: inline;
    padding: 10px;
}
p {
    display: inline-flex;
    text-align: justify;
    padding: 15px;
    font-size: 18px;
}

.dashed{
    border: 2px dashed black;
}
.container {
    position: absolute;
    width: 940px;
    padding: 20px;
    background-image: url("https://i.postimg.cc/4d1YzxBs/paper-v2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    height: 1253px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bunny {
    position: absolute ;
    z-index: 15;
    width: 380px;
    height: auto;
    margin-left: -650px;
    margin-top: 420px;
    image-rendering: optimizeSpeed;
}
.bunny:hover{
    transform: scale(1.01);
}
.ncont {
    position: absolute;
    margin-top: 193px;
    margin-left: 278px;
    width: 620px;
    height: 765px;
    align-content: center;
    overflow: scroll;
    scrollbar-width: none;
}

.navcont {
    overflow: hidden;
    position: absolute;
    margin-top: 160px;
    margin-left: 930px;
    width: 300px;
    height: 760px;
}

.con {
    padding: 15px;
    text-align: center;
    vertical-align: middle;

}

.button1 {
    background-image: url("https://i.postimg.cc/t4fWTJmc/b1-v2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    user-select: none;
    font-family: 'AppleNewIslandRegular', sans-serif;

}
.button2 {
    background-image: url("https://i.postimg.cc/hGdx7nkt/b2-v2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 180px;
    height: 180px;
    border: 0px;
    background-color: transparent;
    pointer-events: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    user-select: none;
    font-family: 'AppleNewIslandRegular', sans-serif;
}
.button1:active, .button2:active{
    transform: scale(0.95);
}

@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('resources/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('resources/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('resources/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}