body {
    background-image: url(../../resources/meeeee.gif);
    background-attachment: fixed;
    font-family: 'LobsterFugu', serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family:'Retroma Vibes', cursive;
    text-align: center;
    align-content: end;
    font-size: 80px;
}
p {
    margin: 5px;
    display: inline-flex;
    font-size: 30px;
}
span {
    font-size: 35px;
}
.container {
    position: relative;
    width: 1400px;
    height: 1253px;
    padding: 20px;
    z-index: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../resources/pearphone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transform: rotate(1deg);
    transform-origin: center;
    pointer-events: none;
}
.dashed{
    border: 2px dashed black;
}

.ncont {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: none;
    color: #414141;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
}
.column {
    flex: 1 1 45%;
    max-width: 90%;
    padding: 7px;
    box-sizing: border-box;
}


.column img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    padding: 7px;
    transition: transform 0.2s ease;
}
.column img:hover {
    transform: scale(0.98);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('../../resources/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('../../resources/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('../../resources/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}
@font-face {
    font-family: 'Retroma Vibes';
    src: url('../../resources/fonts/Retroma Vibes.ttf') format('truetype');
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.modal {
    align-content: center;
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 98vh;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    height: auto;
    font-size: 35px;
    font-family: 'LobsterFugu', serif;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}