body, html {
    background-image: url(https://i.postimg.cc/HL4cmFRB/1-min.png);
    background-attachment: fixed;
    background-size: contain;
    font-family: 'LobsterFugu', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-position: center;
    color:#414141 ;
}

footer{
    text-align: center;
}
h1 {
    font-family: 'Retroma Vibes', sans-serif;
    text-align: center;
    align-content: end;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
li {
    display: inline;
    padding: 10px;
}

p {
    display: inline-flex;
    text-align: justify;
    padding: 15px;
    font-size: 18px;
}

.dashed{
    border: 1px dashed black;
}

/*phone*/
@media (max-width: 600px) {
    .container {
        position: absolute;
        width: 95%;
        height: 100%;
        margin: 0 auto;
        background-image: url("https://i.postimg.cc/C1WG57Cb/Mobile-min.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .ncont {
        position: relative;
        width: 95%;
        height: 66%;
        overflow-y: auto;
        margin-top: 35%;
        z-index: 1;
        scrollbar-width: none;
    }

    .con {
        padding: 15px;
        text-align: center;
    }
    .bunny {
        position: absolute;
        bottom: -10%;
        left: 0;
        z-index: 2;
        width: 30%;
        transform: rotate(-4deg);
        image-rendering: optimizeSpeed;
    }

}
@media (min-width: 980px) {
    body{
        font-size: x-large;
    }

}



@font-face {
    font-family: 'AppleNewIslandRegular';
    src: url('../assets/fonts/apple-new-island-font/AppleNewIslandRegular-5yXpj.ttf') format('truetype');
}
@font-face {
    font-family: 'CreamySugar';
    src: url('../assets/fonts/creamy-sugar-font/CreamySugar-gxnGR.ttf') format('truetype');
}
@font-face {
    font-family: 'LobsterFugu';
    src: url('../assets/fonts/lobster-fugu-font/LobsterFuguRegular-JpaJ7.ttf') format('truetype');
}
@font-face {
    font-family: 'Retroma Vibes';
    src: url('../assets/fonts/Retroma Vibes.ttf') format('truetype');
}